<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <a href="index.html"><button>Back</button></a>
    <h1>Welcome to our Flask ToDo Application!</h1>

    <h2>Authors:</h2>
    <ul>
        <li>Giorgi Minashvili</li>
        <li>Ani Kakachia</li>
        <li>Elene Gabidaidze</li>
        <li>Goga Kavtelishvili</li>
    </ul>

    <h2>Group Number: 10</h2>

    <p>This Flask ToDo Application is a simple and intuitive tool designed to help you stay organized and manage your tasks efficiently. With its user-friendly interface and powerful functionality, you can easily add, delete, and update tasks based on your needs.</p>

    <h2>Features:</h2>
    <ul>
        <li>Add Tasks: You can quickly add new tasks to your to-do list. Whether it's a personal reminder or a work-related assignment, this app allows you to capture all your tasks in one place.</li>
        <li>Delete Tasks: If a task is completed or no longer relevant, you can effortlessly delete it from your to-do list. This feature helps you keep your task list clutter-free and focused on the most important items.</li>
        <li>Update Tasks: If there are changes or updates to a task, you can easily modify its details. Whether it's a change in deadline, priority, or any other attribute, this app ensures that your task information remains up to date.</li>
    </ul>

    <p>Our team has put in a great effort to develop this Flask ToDo Application, focusing on simplicity, functionality, and usability. We aim to provide you with a seamless experience in managing your tasks, whether you're a student, a professional, or anyone looking to improve their productivity.</p>

    <p>We hope you find our Flask ToDo Application valuable and it becomes an indispensable tool in your daily life. If you have any feedback or suggestions, please feel free to reach out to us. We appreciate your support and look forward to continuously enhancing this application to meet your evolving needs.</p>

    <p>Thank you for choosing our Flask ToDo Application!</p>


</body>
</html>
