<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="icon" href="/static/images/about.png">


</head>
<body>
    <a href="index.html"><button class="ctaa">Back</button></a>
    <div class="container" style="margin-top: 150px;">
<div class="centered-div">
    <h1>Flask To Do Application</h1>
    <div >
      <h2>Author: Giorgi Minashvili and Ani Kakachia</h2>
      <h3>Group Number: 10</h3>
      <p>
        Welcome to our Flask To-Do application! We're passionate about web development, and Flask is one of our favorite frameworks.
      </p>
      <p>
        This Flask To-Do application allows you to create and manage your daily tasks efficiently. You can add new tasks, mark them as complete, remove completed tasks from the list and search for any tasks.
      </p>
      <p>
        With Flask's simplicity and flexibility, we've created a user-friendly and responsive application to help you stay organized and focused.
      </p>
      <p>
        Thank you for visiting, and we hope you find this Flask To-Do application useful for your daily task management!
      </p>
    </div>
  </div>
</div>

</body>
</html>
