<!DOCTYPE html>
<html>
<head>

    <title>ToDo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="/static/images/tsk.png">
    <script>
        function showTaskDetails(taskId) {
            // Perform any necessary actions when a task is clicked
            alert("Clicked task ID: " + taskId);

            // Redirect to a new page with the task details
            window.location.href = "/task-details/" + taskId;
        }
    </script>
</head>
<body>
    <a href="about.html"><button class="ctaa" style="background-color: rgba(204, 255, 0, 0.842)">About</button></a>
    <div class="container">
        <h1>ToDo App</h1>
        <form id="task-form" method="POST" action="/submit">
            <input type="text" id="task-input" name="task-input" placeholder="Enter a task..." required maxlength="40">

            <button class="cta" >
                <span>SAVE</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </button>
        </form>
        <h1>Tasks</h1>
<ul>
            {% for task in tasks %}
            <li>
                <!-- Tasks -->
                {% if task[2] == 1 %}
                <span class="completed-task">{{ task[1] }}</span>
                {% else %}

                <span>{{ task[1] }}</span>
                {% endif %}
                {% if task[2] == 0 %}
                <!-- Buttons -->
                <div style="display: flex;">

                <form class="complete-form" action="/complete/{{ task[0] }}" method="POST">
                    <button type="submit" class="button-complete">Complete</button>
                </form>
                {% endif %}
                <form class="delete-form" action="/delete/{{ task[0] }}" method="POST">
                    <button type="submit" class="button-delete">Delete</button>
                </form>
                <a href="task.html"><button type="submit">Open</button></a>


        </div>


            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>