<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/task.css">
    <title>Task Details</title>
</head>
<body>
    <a href="/"><button class="ctaa">Back</button></a>
    <h1>Task Details</h1>
    <div class="task-details">
        <h2 style="display: flex; justify-content: center; ">Description</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam amet vel enim assumenda laborum corporis iste. Recusandae ea eaque consequuntur at molestias odio dolorum mollitia esse exercitationem. Similique praesentium incidunt ratione nobis, rerum sint impedit in tenetur quibusdam maxime tempore a error consequatur pariatur atque, alias dolorem illo dicta? Non.</p>
        
    </div>
    
    
</body>
</html>
