<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/task.css">
    <title>Task Details</title>
</head>
<body>
    <a href="/"><button class="ctaa">Back</button></a>
    <h1>Task Details</h1>
    <div class="task-details">
        <h2 style="display: flex; justify-content: center; ">Description</h2>
        <textarea wrap="hard" style="scrollbar-face-color: blueviolet;" class="text1" name="description" id="description" cols="30" rows="10">a</textarea>

    </div>

    <button class="ctaa1">SAVE</button>



</body>
</html>
